{% extends 'web/base.html' %}
{% block content %}
    {% if not user.is_anonymous %}
    <b>Вы авторизованы как {{ user.username }}</b>
    {% endif %}
    <a href="{% url 'movies_add' %}">Создать фильм</a>
    <a href="{% url 'genres' %}">Жанры</a>
    <a href="{% url 'analytics' %}">Аналитика</a>
    <br>

    <form action="">
        <b>Фильтры:</b>
        <br>
        {% for field in filter_form %}
            {{ field.label }}
            {{ field }}
        {% endfor %}

        <button>Найти</button>
        <a href="?">Показать все</a>
    </form>

    <br>
    всего {{ total_count }} записей
    <ul>
        {% for movie in movies %}
            <li>
                {{ movie.user.username }}
            <br>
                <b>{{ movie.title }}</b>
                {% if movie.genres.all %}
                    [{% for genre in movie.genres.all %} {{ genre.title }} {% endfor %}]

                {% endif %}
                <small>{{ movie.release_date }}</small>
                <a href="{% url 'movies_edit' movie.id %}">Редактировать фильм</a>
                <a href="{% url 'movie_delete' movie.id %}">Удалить фильм</a>
            </li>
            <hr>
        {% endfor %}
    </ul>

    <nav>
        {% if movies.has_previous %}
            <a href="?page=1">в начало</a>
            <a href="?page={{ movies.previous_page_number }}">назад</a>
        {% endif %}

        страница {{ movies.number }} из {{ movies.paginator.num_pages }}

        {% if movies.has_next %}
            <a href="?page={{ movies.next_page_number }}">вперед</a>
            <a href="?page={{ movies.paginator.num_pages }}">в конец</a>
        {% endif %}
    </nav>
{% endblock %}
